.prism-main {
    width: 300px;
    height: 200px;
}

.header {
    background: linear-gradient(to bottom right, yellow, red);
    position: absolute;
    top: 0;
    width: 300px;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    font-size: initial;
    font-family: cursive;
    font-weight: bold;
}

.radio-container {
    margin-top: 45px;
}

.label-txt {
    font-size: medium;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.footer{
    position: absolute;
    bottom: 10px;
    width: 300px;
    text-align: left;
    font-family: cursive;
}