.prism-main {
    width: 500px;
    height: 200px;
}

.header {
    background: linear-gradient(to bottom right, yellow, red);
    width: 300px;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}

.checkbox-container {
    margin-top: 45px;
}

.label-txt {
    font-size: medium;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.footer{
    width: 300px;
    font-family: cursive;
}

.remove-from-storage-btn {
    float: right;
}